@import "tailwindcss";

@theme {
  --font-sans: 'Tajawal', sans-serif;
}

body {
  font-family: 'Tajawal', sans-serif;
}

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
